# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

# MMORALES: I added a few lines, due to error in Travis
#     read more here:
#     https://github.com/travis-ci/travis-ci/issues/6431
#     https://github.com/leekgroup/recount/blob/3bbd47f07eeb4a337ed47102b4f12267e42965d1/.travis.yml



language: R
warnings_are_errors: false # NEW
sudo: false
cache: packages

# r_packages:
#   - rgdal
#   - DT
#   - pheatmap

# https://github.com/travis-ci/travis-ci/issues/6850

# r_github_packages:
#   - cran/survival
before_install:
  Rscript -e 'update.packages(ask = FALSE)'


notifications:
  email:
    on_success: always
    on_failure: always
